.content {
  background-image: url('../../assets/main-photo-min.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.content::after {
  position: absolute;
  content: '';
  background-color: var(--black);
  opacity: .5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.context {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.context>h1 {
  font-size: 120px;
  font-weight: 800;
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 1365px) {
  .content {
    height: 80vh;
  }

  .context>h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .context>h1 {
    font-size: 30px;
  }
}
